.app {
  /* border: 1px solid red; */
  background-color: #1f1d2b;
  color: #fff;
}

.heading {
  /* border: 1px solid blue; */
  padding: 20px;
  font-size: 2rem;
  font-weight: 600;
}

.chart-container {
  border: 1px solid lightgray;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  color: #000;

  div {
    padding: 20px;
  }
}
